name: validate-configs

on:
  push:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0

      - name: Validate config
        run: npx --package renovate -- renovate-config-validator --strict

      - name: Validate base config
        run: npx --package renovate -- renovate-config-validator base.json --strict

      - name: Validate elixir configs
        run: |
          npx --package renovate -- renovate-config-validator elixir-debian.json --strict
          npx --package renovate -- renovate-config-validator elixir-ubuntu.json --strict

      - name: Validate custom managers configs
        run: |
          npx --package renovate -- renovate-config-validator customManagers/mixEsbuild.json --strict
          npx --package renovate -- renovate-config-validator customManagers/mixTailwind.json --strict
